
//This definition allows the "ShowWindow" function to work.
#define _WIN32_WINNT 0x0500

//This inclution is not currently in use, but is used for stuff like "cin" and "cout".
#include <iostream>

//This inclution is used to allow the "HWND" command and "system" commands.
#include <windows.h>

//This inclution is used to open and edit the "temp.vbs" file seen later in the code.
#include <fstream>

//This is just setting the namespace.
using namespace std;


//This is the main code that is getting launched.
int main()
{
    //This line detects the console window and gives "hWnd" the ability to control it.
    HWND hWnd = GetConsoleWindow();
    //This line then uses the "ShowWindow" function to hide the console window.
    ShowWindow( hWnd, SW_HIDE );

    //Then the main program begins with an infinite loop as seen here.
    while (1)
    {
        //First i check if the key "f" (known as 0x46 by the system) is pressed.
        //Link to key codes "http://www.mpgh.net/forum/showthread.php?t=181911"
        if (GetAsyncKeyState(0x46))
        {
            //When the key "f" is pressed, the program waits 10 seconds then proceeds.
            //The wait timer is defined with the "Sleep()" command that uses milliseconds.
            Sleep(10000);

            //This part is a bit weird but it was the only way i could get this to work.
            //First it creates a file called "temp" and its a script file (.vbs) that can be executed later.
            ofstream outfile ("temp.vbs");
            //Here it writes the code to open the disc tray.
            outfile << "Set oWMP = CreateObject(\"WMPlayer.OCX.7\") \nSet colCDROMs = oWMP.cdromCollection \n\nFor i = 0 To colCDROMs.count-1 \ncolCDROMs.item(i).eject \n\nNext \noWMP.close" << endl;
            //In the end it closes the file so it can be deleted later.
            outfile.close();

            //I use a "system" command (basically a cmd command) to start the script.
            //The "//b" makes sure all errors are wrote to the command line thereby ignoring them. This is used to stop error pop-ups if the disc tray already is open.
            system("cscript //b temp.vbs");
            //Then the script waits half a second to make sure that the script is done running.
            Sleep(500);
            //Then the "temp.vbs" is deleted.
            remove("temp.vbs");

            //This line makes sure that as long as the "f" key is held, nothing will happen.
            //This is used to minimize cpu usage and to make sure that the script only is run 1 time per press,
            //unless the "f" key is pressed multiple times within 10 seconds, then it will still only be run 1 time.
            while (GetAsyncKeyState(0x46)){Sleep(500);}
        }
        //This part just makes the program wait half a second to minimize cpu usage.
        else
        {
            Sleep(500);
        }
    }
    //This line stops the program but is actually never used since the program is running in an infinite loop.
    return 0;
}
